{% extends 'base.html' %}
{% load static %}
{% block keywords %}RANKING{% endblock %}
{% block title %}Home{% endblock %}
{% block head %}
  <link rel="stylesheet" href="../../clothingCoordination/static/clothing/css/Home.css" media="screen">
  <meta property="og:title" content="Home">
{% endblock %}

{% block content %}
  <section class="u-align-center u-clearfix u-palette-5-light-3 u-section-1" id="sec-a09c">
    <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
      <h2 class="u-custom-font u-text u-text-1">RANKING</h2>
      <div class="u-expanded-width-sm u-expanded-width-xs u-layout-horizontal u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-left u-container-style u-list-item u-repeater-item u-white u-list-item-1">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <img class="u-dialog-link u-expanded-width-sm u-image u-image-default u-image-1" alt=""
                   data-image-width="853" data-image-height="1280"
                   src="../../clothingCoordination/static/clothing/images/9ffca42edd928c59c6fd8fac94b642d9f6465797bf2919b7cdc69d82f121d845b8a9450744b2c52b972acc1412339bdcb5e6a6bca906d8228ffae0_1280.jpg"
                   data-href="#sec-1339">
              <h4 class="u-custom-font u-text u-text-2">Sample Headline</h4>
              <p class="u-text u-text-3">Sam​ple text. </p>
            </div>
          </div>
          <div class="u-align-left u-container-style u-list-item u-repeater-item u-white u-list-item-2">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <img class="u-expanded-width-sm u-image u-image-default u-image-2" alt="" data-image-width="106"
                   data-image-height="150"
                   src="../../clothingCoordination/static/clothing/images/140f84bd1257fc6a5a31bbacc2b0a8c98054da1278737b9e8c2f48df2bc13e62c418fc19d39b9faff4ed5c6c7968802c1c58c5b95773e267e196ab_1280.jpg"
                   data-href="#sec-1339">
              <h4 class="u-custom-font u-text u-text-4">Sample Headline</h4>
              <p class="u-text u-text-5">Sample text.</p>
            </div>
          </div>
          <div class="u-align-left u-container-style u-list-item u-repeater-item u-white u-list-item-3">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <img class="u-expanded-width-sm u-image u-image-default u-image-3" alt="" data-image-width="106"
                   data-image-height="150"
                   src="../../clothingCoordination/static/clothing/images/9ffca42edd928c59c6fd8fac94b642d9f6465797bf2919b7cdc69d82f121d845b8a9450744b2c52b972acc1412339bdcb5e6a6bca906d8228ffae0_1280.jpg"
                   data-href="#sec-1339">
              <h4 class="u-custom-font u-text u-text-6">Sample Headline</h4>
              <p class="u-text u-text-7">Sample text.</p>
            </div>
          </div>
          <div class="u-align-left u-container-style u-list-item u-repeater-item u-white u-list-item-4">
            <div class="u-container-layout u-similar-container u-container-layout-4">
              <img class="u-expanded-width-sm u-image u-image-default u-image-4" alt="" data-image-width="106"
                   data-image-height="150"
                   src="../../clothingCoordination/static/clothing/images/140f84bd1257fc6a5a31bbacc2b0a8c98054da1278737b9e8c2f48df2bc13e62c418fc19d39b9faff4ed5c6c7968802c1c58c5b95773e267e196ab_1280.jpg"
                   data-href="#sec-1339">
              <h4 class="u-custom-font u-text u-text-8">Sample Headline</h4>
              <p class="u-text u-text-9">Sample text.</p>
            </div>
          </div>
          <div class="u-align-left u-container-style u-list-item u-repeater-item u-white u-list-item-5">
            <div class="u-container-layout u-similar-container u-container-layout-5">
              <img class="u-expanded-width-sm u-image u-image-default u-image-5" alt="" data-image-width="106"
                   data-image-height="150"
                   src="../../clothingCoordination/static/clothing/images/9ffca42edd928c59c6fd8fac94b642d9f6465797bf2919b7cdc69d82f121d845b8a9450744b2c52b972acc1412339bdcb5e6a6bca906d8228ffae0_1280.jpg"
                   data-href="#sec-1339">
              <h4 class="u-custom-font u-text u-text-10">Sample Headline</h4>
              <p class="u-text u-text-11">Sample text.</p>
            </div>
          </div>
          <div class="u-align-left u-container-style u-list-item u-repeater-item u-white u-list-item-6">
            <div class="u-container-layout u-similar-container u-container-layout-6">
              <img class="u-expanded-width-sm u-image u-image-default u-image-6" alt="" data-image-width="106"
                   data-image-height="150"
                   src="../../clothingCoordination/static/clothing/images/140f84bd1257fc6a5a31bbacc2b0a8c98054da1278737b9e8c2f48df2bc13e62c418fc19d39b9faff4ed5c6c7968802c1c58c5b95773e267e196ab_1280.jpg"
                   data-href="#sec-1339">
              <h4 class="u-custom-font u-text u-text-12">Sample Headline</h4>
              <p class="u-text u-text-13">Sample text.</p>
            </div>
          </div>
        </div>
        <a class="u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1"
           href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
          <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
        </a>
        <a class="u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2"
           href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
          <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
        </a>
      </div>
    </div>
  </section>
  <section
      class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-palette-5-light-3 u-section-2"
      id="carousel_7e8e">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h2 class="u-align-center u-custom-font u-text u-text-black u-text-1">FaVORITE</h2>
      <div
          class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1"
          id="carousel-67d4">
        <div class="u-gallery-inner u-gallery-inner-1" role="listbox">
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-gallery-item-1">
            <div class="u-back-slide u-back-slide-1" data-image-width="613" data-image-height="626">
              <img class="u-back-image u-expanded"
                   src="../../clothingCoordination/static/clothing/images/four-books-mockup_125540-455.jpg">
            </div>
            <div class="u-over-slide u-shading u-over-slide-1">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-gallery-item-2">
            <div class="u-back-slide u-back-slide-2">
              <img class="u-back-image u-expanded"
                   src="../../clothingCoordination/static/clothing/images/business-cards-mockup_1389-1137.jpg">
            </div>
            <div class="u-over-slide u-shading u-over-slide-2">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-gallery-item-3">
            <div class="u-back-slide u-back-slide-3" data-image-width="1199" data-image-height="800">
              <img class="u-back-image u-expanded" src="../../clothingCoordination/static/clothing/images/yh-min.jpg">
            </div>
            <div class="u-over-slide u-shading u-over-slide-3">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
        </div>
      </div>
      <a href="Home.html#carousel_7e8e" data-page-id="2197804358"
         class="u-active-black u-align-center u-border-1 u-border-active-black u-border-black u-border-hover-black u-btn u-button-style u-custom-font u-hover-black u-none u-text-active-white u-text-black u-text-hover-white u-btn-1">view
        more</a>
    </div>
  </section>

  <style>.u-section-6 {
    min-height: 826px;
  }

  .u-section-6 .u-dialog-1 {
    width: 800px;
    min-height: 544px;
    background-image: none;
    margin: 141px auto 60px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 45px 30px 30px;
  }

  .u-section-6 .u-text-1 {
    font-family: "Montserrat Subrayada";
    margin: 52px auto 0;
  }

  .u-section-6 .u-form-1 {
    height: 208px;
    width: 362px;
    margin: 44px auto 0;
  }

  .u-section-6 .u-btn-1 {
    background-image: none;
    border-style: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-family: "Montserrat Subrayada";
    font-weight: 700;
  }

  .u-section-6 .u-btn-2 {
    border-style: none none solid;
    font-size: 0.875rem;
    margin: -74px 189px 0 auto;
    padding: 0;
  }

  .u-section-6 .u-text-2 {
    margin: 102px auto 0 218px;
  }

  .u-section-6 .u-btn-3 {
    border-style: none none solid;
    font-family: "Montserrat Subrayada";
    margin: -25px 210px 0 auto;
    padding: 0;
  }

  .u-section-6 .u-icon-1 {
    width: 35px;
    height: 35px;
    left: auto;
    top: 47px;
    position: absolute;
    background-image: none;
    right: 30px;
  }

  @media (max-width: 1199px) {
    .u-section-6 .u-dialog-1 {
      height: auto;
    }

    .u-section-6 .u-btn-2 {
      margin-top: -80px;
    }

    .u-section-6 .u-btn-3 {
      margin-right: 210px;
    }

    .u-section-6 .u-icon-1 {
      color: rgb(255, 255, 255) !important;
    }
  }

  @media (max-width: 991px) {
    .u-section-6 .u-dialog-1 {
      width: 720px;
      margin-top: 138px;
    }

    .u-section-6 .u-container-layout-1 {
      padding-top: 29px;
    }

    .u-section-6 .u-form-1 {
      margin-top: 60px;
    }

    .u-section-6 .u-btn-2 {
      margin-right: 149px;
    }

    .u-section-6 .u-btn-3 {
      margin-right: 130px;
    }

    .u-section-6 .u-icon-1 {
      top: 28px;
    }
  }

  @media (max-width: 767px) {
    .u-section-6 .u-dialog-1 {
      width: 540px;
      margin-top: 124px;
    }

    .u-section-6 .u-container-layout-1 {
      padding-top: 45px;
      padding-left: 25px;
      padding-right: 25px;
    }

    .u-section-6 .u-form-1 {
      margin-top: 44px;
    }

    .u-section-6 .u-btn-2 {
      margin-top: -79px;
      margin-right: 64px;
    }

    .u-section-6 .u-text-2 {
      margin-left: 172px;
    }

    .u-section-6 .u-btn-3 {
      margin-right: 0;
    }

    .u-section-6 .u-icon-1 {
      top: 47px;
      right: 26px;
    }
  }

  @media (max-width: 575px) {
    .u-section-6 .u-dialog-1 {
      width: 340px;
      margin-top: 181px;
    }

    .u-section-6 .u-container-layout-1 {
      padding-top: 0;
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-6 .u-text-1 {
      width: auto;
      margin-top: 29px;
    }

    .u-section-6 .u-form-1 {
      width: 300px;
      margin-top: 29px;
      margin-left: 0;
      margin-right: 0;
    }

    .u-section-6 .u-btn-2 {
      margin-top: -81px;
      margin-right: 0;
    }

    .u-section-6 .u-text-2 {
      margin-left: 106px;
    }

    .u-section-6 .u-icon-1 {
      top: 25px;
      right: 20px;
    }
  }</style>
  <section class="u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-section-8"
           id="sec-1339">
    <div class="u-align-left u-container-style u-dialog u-shape-rectangle u-white u-dialog-1">
      <div class="u-container-layout u-container-layout-1">
        <img class="u-expand-resize u-expanded-width-xs u-image u-image-1" data-image-width="2000"
             data-image-height="1333" src="../../clothingCoordination/static/clothing/images/8.svg">
        <h3 class="u-custom-font u-text u-text-1">TITLE</h3>
        <a href="https://nicepage.com/website-mockup"
           class="u-border-2 u-border-black u-btn u-button-style u-custom-font u-hover-black u-palette-2-light-1 u-text-black u-text-hover-white u-btn-1">DELETE</a>
        <a href="https://nicepage.review"
           class="u-border-2 u-border-black u-btn u-button-style u-custom-font u-hover-black u-palette-5-light-1 u-text-black u-text-hover-white u-btn-2">EDIT</a>
        <ul class="u-custom-list u-text u-text-2">
          <li>
            <div class="u-list-icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                   xml:space="preserve" class="u-svg-content" viewBox="0 0 24 24" id="svg-283c"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path>
                <path
                    d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
            </div>
            Men
          </li>
          <li>
            <div class="u-list-icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                   xml:space="preserve" class="u-svg-content" viewBox="0 0 24 24" id="svg-283c"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path>
                <path
                    d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
            </div>
            10 ~ 19
          </li>
          <li>
            <div class="u-list-icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                   xml:space="preserve" class="u-svg-content" viewBox="0 0 24 24" id="svg-283c"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path>
                <path
                    d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
            </div>
            160 ~ 170
          </li>
        </ul>
        <a href="https://nicepage.one"
           class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-3">#0000</a>
        <a href="https://nicepage.one"
           class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-4">#0000</a>
        <a href="https://nicepage.one"
           class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-5">#0000</a>
        <a href="https://nicepage.one"
           class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-6">#0000</a>
        <a href="https://nicepage.one"
           class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-7">#0000</a>
        <a href="https://nicepage.one"
           class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-8">#0000</a>
        <a href="https://nicepage.one"
           class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-9">#0000</a>
        <a href="https://nicepage.one"
           class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-10">#0000</a>
        <a href="https://nicepage.one"
           class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-11">#0000</a>
        <a href="https://nicepage.one"
           class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-12">#0000</a>
        <a href="https://nicepage.one"
           class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-13">#0000</a>
        <a href="https://nicepage.one"
           class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-14">#0000</a>
      </div>
      <button
          class="u-border-1 u-border-grey-75 u-dialog-close-button u-icon u-icon-rounded u-radius-50 u-spacing-9 u-text-black u-white u-icon-1">
        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 409.806 409.806" style="">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4e2d"></use>
        </svg>
        <svg class="u-svg-content" viewBox="0 0 409.806 409.806" x="0px" y="0px" id="svg-4e2d"
             style="enable-background:new 0 0 409.806 409.806;">
          <g>
            <g>
              <path
                  d="M228.929,205.01L404.596,29.343c6.78-6.548,6.968-17.352,0.42-24.132c-6.548-6.78-17.352-6.968-24.132-0.42    c-0.142,0.137-0.282,0.277-0.42,0.42L204.796,180.878L29.129,5.21c-6.78-6.548-17.584-6.36-24.132,0.42    c-6.388,6.614-6.388,17.099,0,23.713L180.664,205.01L4.997,380.677c-6.663,6.664-6.663,17.468,0,24.132    c6.664,6.662,17.468,6.662,24.132,0l175.667-175.667l175.667,175.667c6.78,6.548,17.584,6.36,24.132-0.42    c6.387-6.614,6.387-17.099,0-23.712L228.929,205.01z"></path>
            </g>
          </g>
        </svg>
      </button>
    </div>
  </section>
  <style>.u-section-8 {
    min-height: 1026px;
  }

  .u-section-8 .u-dialog-1 {
    width: 800px;
    min-height: 544px;
    background-image: none;
    margin: 241px auto 60px;
  }

  .u-section-8 .u-container-layout-1 {
    padding: 35px 30px 35px 9px;
  }

  .u-section-8 .u-image-1 {
    width: 348px;
    height: 454px;
    margin: 0 auto 0 21px;
  }

  .u-section-8 .u-text-1 {
    font-family: "Montserrat Subrayada";
    font-size: 1.5rem;
    font-weight: 700;
    margin: -367px 51px 0 421px;
  }

  .u-section-8 .u-btn-1 {
    border-style: solid;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 700;
    font-family: "Montserrat Subrayada";
    background-image: none;
    margin: 283px 51px 0 auto;
  }

  .u-section-8 .u-btn-2 {
    border-style: solid;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 700;
    font-family: "Montserrat Subrayada";
    background-image: none;
    margin: -49px 219px 0 auto;
    padding: 10px 40px;
  }

  .u-section-8 .u-text-2 {
    font-family: "Open Sans", sans-serif;
    margin: -309px 51px 0 421px;
  }

  .u-section-8 .u-btn-3 {
    border-style: none none solid;
    margin: 22px auto 0 421px;
    padding: 0;
  }

  .u-section-8 .u-btn-4 {
    border-style: none none solid;
    margin: -26px 226px 0 auto;
    padding: 0;
  }

  .u-section-8 .u-btn-5 {
    border-style: none none solid;
    margin: -26px 158px 0 auto;
    padding: 0;
  }

  .u-section-8 .u-btn-6 {
    border-style: none none solid;
    margin: -26px 89px 0 auto;
    padding: 0;
  }

  .u-section-8 .u-btn-7 {
    border-style: none none solid;
    margin: 15px 294px 0 auto;
    padding: 0;
  }

  .u-section-8 .u-btn-8 {
    border-style: none none solid;
    margin: 15px 294px 0 auto;
    padding: 0;
  }

  .u-section-8 .u-btn-9 {
    border-style: none none solid;
    margin: -67px 226px 0 auto;
    padding: 0;
  }

  .u-section-8 .u-btn-10 {
    border-style: none none solid;
    margin: 15px 226px 0 auto;
    padding: 0;
  }

  .u-section-8 .u-btn-11 {
    border-style: none none solid;
    margin: -26px 158px 0 auto;
    padding: 0;
  }

  .u-section-8 .u-btn-12 {
    border-style: none none solid;
    margin: -67px 158px 0 auto;
    padding: 0;
  }

  .u-section-8 .u-btn-13 {
    border-style: none none solid;
    margin: -26px 89px 0 auto;
    padding: 0;
  }

  .u-section-8 .u-btn-14 {
    border-style: none none solid;
    margin: 15px 89px 0 auto;
    padding: 0;
  }

  .u-section-8 .u-icon-1 {
    width: 39px;
    height: 39px;
    left: auto;
    top: 45px;
    position: absolute;
    background-image: none;
    right: 30px;
  }

  @media (max-width: 1199px) {
    .u-section-8 .u-dialog-1 {
      height: auto;
    }

    .u-section-8 .u-image-1 {
      margin-left: 21px;
    }

    .u-section-8 .u-text-1 {
      margin-left: 421px;
    }

    .u-section-8 .u-btn-2 {
      margin-top: -49px;
      margin-right: 219px;
    }

    .u-section-8 .u-text-2 {
      margin-left: 421px;
    }

    .u-section-8 .u-btn-3 {
      margin-left: 421px;
    }

    .u-section-8 .u-btn-4 {
      margin-right: 226px;
    }

    .u-section-8 .u-btn-5 {
      margin-right: 158px;
    }

    .u-section-8 .u-btn-6 {
      margin-right: 89px;
    }

    .u-section-8 .u-btn-7 {
      margin-right: 294px;
    }

    .u-section-8 .u-btn-8 {
      margin-right: 294px;
    }

    .u-section-8 .u-btn-9 {
      margin-top: -67px;
      margin-right: 226px;
    }

    .u-section-8 .u-btn-10 {
      margin-right: 226px;
    }

    .u-section-8 .u-btn-11 {
      margin-right: 158px;
    }

    .u-section-8 .u-btn-12 {
      margin-top: -67px;
      margin-right: 158px;
    }

    .u-section-8 .u-btn-13 {
      margin-top: -26px;
      margin-right: 89px;
    }

    .u-section-8 .u-btn-14 {
      margin-right: 89px;
    }

    .u-section-8 .u-icon-1 {
      color: rgb(255, 255, 255) !important;
    }
  }

  @media (max-width: 991px) {
    .u-section-8 .u-dialog-1 {
      width: 720px;
    }

    .u-section-8 .u-container-layout-1 {
      padding-top: 29px;
      padding-bottom: 30px;
    }

    .u-section-8 .u-image-1 {
      width: 330px;
    }

    .u-section-8 .u-text-1 {
      width: auto;
      margin-right: 360px;
      margin-left: 381px;
    }

    .u-section-8 .u-btn-1 {
      margin-top: 607px;
      margin-right: 11px;
    }

    .u-section-8 .u-btn-2 {
      margin-right: 139px;
    }

    .u-section-8 .u-text-2 {
      margin-right: 11px;
      margin-left: 381px;
    }

    .u-section-8 .u-btn-3 {
      margin-left: 381px;
    }

    .u-section-8 .u-btn-4 {
      margin-right: 146px;
    }

    .u-section-8 .u-btn-5 {
      margin-right: 78px;
    }

    .u-section-8 .u-btn-6 {
      margin-right: 9px;
    }

    .u-section-8 .u-btn-7 {
      margin-right: 214px;
    }

    .u-section-8 .u-btn-8 {
      margin-right: 214px;
    }

    .u-section-8 .u-btn-9 {
      margin-right: 146px;
    }

    .u-section-8 .u-btn-10 {
      margin-right: 146px;
    }

    .u-section-8 .u-btn-11 {
      margin-right: 78px;
    }

    .u-section-8 .u-btn-12 {
      margin-right: 78px;
    }

    .u-section-8 .u-btn-13 {
      margin-right: 9px;
    }

    .u-section-8 .u-btn-14 {
      margin-right: 9px;
    }
  }

  @media (max-width: 767px) {
    .u-section-8 .u-dialog-1 {
      width: 540px;
    }

    .u-section-8 .u-container-layout-1 {
      padding-top: 45px;
      padding-left: 25px;
      padding-right: 25px;
    }

    .u-section-8 .u-image-1 {
      width: 170px;
      height: 464px;
    }

    .u-section-8 .u-text-1 {
      margin-top: -464px;
      margin-right: 190px;
      margin-left: 232px;
    }

    .u-section-8 .u-btn-1 {
      margin-top: 368px;
      margin-right: 0;
    }

    .u-section-8 .u-btn-2 {
      margin-right: 0;
    }

    .u-section-8 .u-text-2 {
      margin-right: 0;
      margin-left: 232px;
    }

    .u-section-8 .u-btn-3 {
      margin-left: 232px;
    }

    .u-section-8 .u-btn-4 {
      margin-right: 0;
    }

    .u-section-8 .u-btn-5 {
      margin-right: 0;
    }

    .u-section-8 .u-btn-6 {
      margin-right: 0;
    }

    .u-section-8 .u-btn-7 {
      margin-right: 54px;
    }

    .u-section-8 .u-btn-8 {
      margin-right: 54px;
    }

    .u-section-8 .u-btn-9 {
      margin-right: 0;
    }

    .u-section-8 .u-btn-10 {
      margin-right: 0;
    }

    .u-section-8 .u-btn-11 {
      margin-right: 0;
    }

    .u-section-8 .u-btn-12 {
      margin-right: 0;
    }

    .u-section-8 .u-btn-13 {
      margin-right: 0;
    }

    .u-section-8 .u-btn-14 {
      margin-right: 0;
    }
  }

  @media (max-width: 575px) {
    .u-section-8 .u-dialog-1 {
      width: 340px;
    }

    .u-section-8 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-8 .u-image-1 {
      height: 174px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }

    .u-section-8 .u-text-1 {
      margin-top: 27px;
      margin-left: 32px;
      margin-right: 0;
    }

    .u-section-8 .u-btn-1 {
      margin-top: 340px;
    }

    .u-section-8 .u-text-2 {
      margin-left: 32px;
    }

    .u-section-8 .u-btn-3 {
      margin-left: 32px;
    }

    .u-section-8 .u-btn-7 {
      margin-right: 0;
    }

    .u-section-8 .u-btn-8 {
      margin-right: 0;
    }
  }</style>

{% endblock %}