{% extends 'clothing/base.html' %}
{% load static %}
{% block keywords %}Sign Up{% endblock %}
{% block title %}Sign Up{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'clothing/css/Sign-Up.css' %}" media="screen">
  <meta property="og:title" content="Sign Up">
{% endblock %}

{% block content %}
  <body class="u-body">
  <section class="u-align-center u-clearfix u-section-1" id="carousel_aa73">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-custom-font u-text u-text-1">Sign Up</h2>
      <div class="u-form u-form-1">
        <form action="" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form"
              style="padding: 0;" source="custom" name="form">{% csrf_token %}
          <div class="u-form-group u-form-name u-form-group-1">
            <label for="{{ form.username.id_for_label }}" class="u-custom-font u-label u-label-1">{{ form.username.label }}</label>
            {{ form.username }}
          </div>
          <div class="u-form-date u-form-group u-form-partition-factor-2 u-form-group-2">
            <label for="{{ form.years.id_for_label }}" class="u-custom-font u-label u-label-2">{{ form.years.label }}</label>
            {{ form.years }}
          </div>
          <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-3">
            <label for="{{ form.sex.id_for_label }}" class="u-custom-font u-label u-label-3">{{ form.sex.label }}</label>
            <div class="u-form-select-wrapper">
              {{ form.sex }}
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">
                <path fill="currentColor" d="M4 8L0 4h8z"></path>
              </svg>
            </div>
          </div>
          <div class="u-form-group u-form-select u-form-group-4">
            <label for="{{ form.body_height.id_for_label }}" class="u-custom-font u-label u-label-4">{{ form.body_height.label }}</label>
            <div class="u-form-select-wrapper">
              {{ form.body_height }}
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">
                <path fill="currentColor" d="M4 8L0 4h8z"></path>
              </svg>
            </div>
          </div>
          <div class="u-form-email u-form-group u-form-group-5">
            <label for="{{ form.email.id_for_label }}" class="u-custom-font u-label u-label-5">{{ form.email.label }}</label>
            {{ form.email }}
          </div>
          <div class="u-form-email u-form-group u-form-group-6">
            <label for="{{ form.password1.id_for_label }}" class="u-custom-font u-label u-label-6">{{ form.password1.label }}</label>
            {{ form.password1 }}
          </div>
          <div class="u-form-email u-form-group u-form-group-7">
            <label for="{{ form.password2.id_for_label }}" class="u-custom-font u-label u-label-7">{{ form.password2.label }}</label>
            {{ form.password2 }}
          </div>
          <div class="u-align-center u-form-group u-form-submit u-form-group-8">
{#            <a href=""#}
{#               class="u-black u-border-none u-btn u-btn-rectangle u-btn-submit u-button-style u-custom-font u-hover-palette-5-light-2 u-btn-1">Submit</a>#}
{#            <input type="submit" value="submit" class="u-form-control-hidden">#}
            <button type="submit" class="u-black u-border-none u-btn u-btn-rectangle u-btn-submit u-button-style u-custom-font u-hover-palette-5-light-2 u-btn-1">Sign Up</button>
          </div>
{#          <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent.</div>#}
{#          <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try#}
{#            again.#}
{#          </div>#}
{#          <input type="hidden" value="" name="recaptchaResponse">#}
        </form>
      </div>
      <p class="u-text u-text-2">Have already an account?</p>
      <a href="#sec-06ab"
         class="u-active-none u-border-1 u-border-active-palette-1-light-2 u-border-hover-palette-1-light-2 u-border-palette-1-base u-btn u-button-style u-custom-font u-dialog-link u-hover-none u-none u-text-hover-palette-1-light-2 u-text-palette-1-base u-btn-2">LogIn
        here</a>
    </div>
  </section>

  <style>.u-section-5 {
    min-height: 826px;
  }

  .u-section-5 .u-dialog-1 {
    width: 800px;
    min-height: 544px;
    background-image: none;
    margin: 141px auto 60px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 45px 30px 30px;
  }

  .u-section-5 .u-text-1 {
    font-family: "Montserrat Subrayada";
    margin: 52px auto 0;
  }

  .u-section-5 .u-form-1 {
    height: 208px;
    width: 362px;
    margin: 44px auto 0;
  }

  .u-section-5 .u-btn-1 {
    background-image: none;
    border-style: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-family: "Montserrat Subrayada";
    font-weight: 700;
  }

  .u-section-5 .u-btn-2 {
    border-style: none none solid;
    font-size: 0.875rem;
    margin: -74px 189px 0 auto;
    padding: 0;
  }

  .u-section-5 .u-text-2 {
    margin: 102px auto 0 218px;
  }

  .u-section-5 .u-btn-3 {
    border-style: none none solid;
    font-family: "Montserrat Subrayada";
    margin: -25px 210px 0 auto;
    padding: 0;
  }

  .u-section-5 .u-icon-1 {
    width: 35px;
    height: 35px;
    left: auto;
    top: 47px;
    position: absolute;
    background-image: none;
    right: 30px;
  }

  @media (max-width: 1199px) {
    .u-section-5 .u-dialog-1 {
      height: auto;
    }

    .u-section-5 .u-btn-2 {
      margin-top: -80px;
    }

    .u-section-5 .u-btn-3 {
      margin-right: 210px;
    }

    .u-section-5 .u-icon-1 {
      color: rgb(255, 255, 255) !important;
    }
  }

  @media (max-width: 991px) {
    .u-section-5 .u-dialog-1 {
      width: 720px;
      margin-top: 138px;
    }

    .u-section-5 .u-container-layout-1 {
      padding-top: 29px;
    }

    .u-section-5 .u-form-1 {
      margin-top: 60px;
    }

    .u-section-5 .u-btn-2 {
      margin-right: 149px;
    }

    .u-section-5 .u-btn-3 {
      margin-right: 130px;
    }

    .u-section-5 .u-icon-1 {
      top: 28px;
    }
  }

  @media (max-width: 767px) {
    .u-section-5 .u-dialog-1 {
      width: 540px;
      margin-top: 124px;
    }

    .u-section-5 .u-container-layout-1 {
      padding-top: 45px;
      padding-left: 25px;
      padding-right: 25px;
    }

    .u-section-5 .u-form-1 {
      margin-top: 44px;
    }

    .u-section-5 .u-btn-2 {
      margin-top: -79px;
      margin-right: 64px;
    }

    .u-section-5 .u-text-2 {
      margin-left: 172px;
    }

    .u-section-5 .u-btn-3 {
      margin-right: 0;
    }

    .u-section-5 .u-icon-1 {
      top: 47px;
      right: 26px;
    }
  }

  @media (max-width: 575px) {
    .u-section-5 .u-dialog-1 {
      width: 340px;
      margin-top: 181px;
    }

    .u-section-5 .u-container-layout-1 {
      padding-top: 0;
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-5 .u-text-1 {
      width: auto;
      margin-top: 29px;
    }

    .u-section-5 .u-form-1 {
      width: 300px;
      margin-top: 29px;
      margin-left: 0;
      margin-right: 0;
    }

    .u-section-5 .u-btn-2 {
      margin-top: -81px;
      margin-right: 0;
    }

    .u-section-5 .u-text-2 {
      margin-left: 106px;
    }

    .u-section-5 .u-icon-1 {
      top: 25px;
      right: 20px;
    }
  }</style>

{% endblock %}