.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 265px;
}

.u-section-1 .u-accordion-1 {
  width: 800px;
  margin: 30px auto;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-family: "Montserrat Subrayada";
  padding: 20px 30px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 66px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 30px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-family: "Montserrat Subrayada";
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
  margin: 9px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-family: "Montserrat Subrayada";
  margin: 18px auto 0 0;
  padding: 0;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-family: "Montserrat Subrayada";
  padding: 20px 30px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 66px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-family: "Montserrat Subrayada";
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  font-family: "Montserrat Subrayada";
  padding: 20px 30px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 76px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 15px 30px;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  font-family: "Montserrat Subrayada";
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
  margin: 0 auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-accordion-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-accordion-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1202px;
}

.u-section-2 .u-text-1 {
  font-family: "Montserrat Subrayada";
  width: 702px;
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 697px;
  margin: 171px auto 0 210px;
}

.u-section-2 .u-gallery-1 {
  height: 948px;
  grid-gap: 17px 17px;
  width: 867px;
  margin: -840px auto 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-text-2 {
  width: 702px;
  margin: 38px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Montserrat Subrayada";
  margin: -10px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1107px;
  }

  .u-section-2 .u-gallery-1 {
    height: 894px;
    width: 831px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 150px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1018px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1057px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 660px;
    margin-left: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 844px;
    margin-top: -803px;
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 416px;
  }

  .u-section-2 .u-gallery-1 {
    height: 600px;
    margin-top: -559px;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}